In [1]:
'Hello, Python!'

'Hello, Python!'

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

***Objectives:***
- List popular languages for Data Science
- Some of the commonly used libraries used by Data Scientists 
- Data Science Tools
- A few examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Scikit-learn
4. Matplotlib
5. Seaborn

| Data Science Tools |
| ------------------ |
| Jupyter |
| RStudio |
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [14]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

In [15]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60

# Display the result
print(hours)

3.3333333333333335

## Author
Albert Henry Ntarmah